.idFind-text .name0 {
  margin-right: 49px;
  margin-bottom: 15px;
  display: inline-block;
}

.idFind-text .name1 {
  margin-right: 65px;
  display: inline-block;
}

.idFind-text .name2 {
  margin-right: 33px;
}
