@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

#community-catagory-block {
  justify-content: space-between;
  display: inline;
  list-style-type: none;
  font-size: 16px;
  font-weight: 900;
  font-family: "Nanum Gothic", sans-serif;
}

#community-catagory-block a {
  text-decoration-line: none;
}

#community-catagory-block li {
  margin: 10px 20px 10px 20px;
  padding: 7px 5px;
  border-radius: 10px;
  width: 60px;
  text-align: center;
}

#community-catagory-block .left-block li:hover {
  background-color: #dbf5f5;
  color: #000;
  transition: 0.3s;
}

#community-catagory-block .right-block li:hover {
  background-color: #8fcdeb;
  color: #000;
  transition: 0.3s;
}

#community-catagory-block .right-block li:nth-child(1):hover {
  background-color: #fb6363;
  color: #000;
  transition: 0.3s;
}

.left-block {
  width: 50%;
  margin-top: 50px;
  margin-left: 50px;
}

.left-block li {
  float: left;
  text-decoration-line: none;
}

.left-block li:nth-child(1) {
  background-color: #ff5983;
}
.left-block li:nth-child(2) {
  background-color: #b2ff59;
}
.left-block li:nth-child(3) {
  background-color: #00e5ff;
}
.left-block li:nth-child(4) {
  background-color: #ff9e80;
}

.right-block {
  width: 50%;
  float: right;
  margin-right: 80px;
}

.right-block li {
  float: right;
}

.right-block li:nth-child(1) {
  background-color: #bdbdbd;
}
.right-block li:nth-child(2) {
  background-color: #bdbdbd;
}

.right-block li:nth-child(3) {
  background-color: rgb(73, 73, 73);
}

#posting {
  width: 100%;
  border-top: 1px solid rgb(160, 160, 160);
  display: inline-block;
}

.posting-block {
  margin-top: 20px;
  display: inline-block;
  margin-left: 80px;
}

.posting-block .posting-content {
  display: inline-block;
  justify-content: space-between;
  width: 49vh;
  height: 50vh;
  margin: 40px 20px 20px 50px;
  border-radius: 10px;
  background-color: #eeeeee;
  text-align: center;
  overflow: hidden;
}

.posting-content:hover {
  cursor: pointer;
  box-shadow: 0 15px 20px rgba(92, 89, 89, 0.2),
    0 10px 14px rgba(92, 79, 79, 0.2);
  transform: translateY(-10px) translateX(5px);
  transition: 0.6s;
}

.posting-title {
  font-size: 18px;
  margin-bottom: 20px 0;
  padding: 15px 0;
}

/* 포스팅 제목 */
.posting-title a {
  text-decoration-line: none;
  font-weight: bold;
}

.posting-title a:hover {
  color: rgb(120, 118, 118);
}

.tag {
  margin: 20px 0 10px 20px;
  text-align: left;
  opacity: 0.5;
}

.tag a {
  cursor: pointer;
}

#posting .posting-img img {
  height: auto;
  max-width: 90%;
  max-height: 270px;
  border-radius: 5px;
}

.posting-page {
  margin: 50px 0;
  text-align: center;
}

.posting-page li {
  text-decoration: none;
  display: inline-block;
}

.posting-page li a {
  text-decoration-line: none;
  font-size: 17px;
  padding: 5px 5px;
}

.posting-page li a:hover {
  color: blue;
}
