.report-title {
  margin: 60px 100px 0 100px;
  padding-left: 60px;
  padding-bottom: 10px;

  border-bottom: 1px solid #000;
}

.report-title a {
  font-size: 36px;
  font-weight: 700;
}

.report-title a span {
  font-size: 24px;
  margin-left: 50px;
  color: rgb(230, 94, 94);
}
